<div class='header'>
  <div class='appTitle'>
    <div class='title'>
      Notre Placard
    </div>
    <div class='version'>
    </div>
    <div class='links'>
      <a class='primary-button' routerLink="/">Home</a>
      <a class='primary-button' routerLink="/storage">Chez moi</a>
      <a class='primary-button' routerLink="/scan">Scan</a>
      <a class='primary-button' routerLink="/gestion">Gestion</a>
      <a class='primary-button' routerLink="/statistics">Statistiques</a>
    </div>
  </div>
</div>
